language: python
python:
    - "2.7"
cache:
  - directories:
    - ~/virtualenv/python2.7/
  - apt
install:
  - python setup.py install
  - pip install -r dev-requirements.txt
before_script:
  - echo -e 'Host github.com\n\tStrictHostKeyChecking no\n' >> ~/.ssh/config
  - wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
  - sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ precise-pgdg 9.4" >> /etc/apt/sources.list.d/pgdg.list'
  - sudo apt-get update
  - sudo service postgresql stop
  - sudo apt-get remove postgresql postgresql-9.3 --purge
  - sudo apt-get install postgresql-9.4 postgresql-client-9.4 postgresql-server-dev-9.4 postgresql-contrib-9.4
  - sudo sed -i s/peer/trust/g /etc/postgresql/9.4/main/pg_hba.conf
  - sudo sed -i s/5433/5432/g /etc/postgresql/9.4/main/postgresql.conf
  - sudo service postgresql restart
  - sudo apt-get install libxml2-dev libxslt-dev python-dev
  - yes | python setup.py install
  - python bin/setup_psqlgraph.py
  - python bin/setup_neo4j.py
script: "nosetests -v"