[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
graphviz = "~=0.4"
jupyter = "~=1.0"
pytest = "*"
gdcdictionary = {editable = true,git = "https://github.com/NCI-GDC/gdcdictionary.git",ref = "1.2.0"}

[packages]
gen3datamodel = {path = ".",editable = true}
sqlalchemy = "==1.3.4"
psqlgraph = {editable = true,git = "https://git@github.com/uc-cdis/psqlgraph.git",ref = "2.0.0"}

[requires]
python_version = "2.7"
