[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
graphviz = "~=0.4"
jupyter = "~=1.0"
pytest = "*"
gdcdictionary = {editable = true,git = "https://github.com/NCI-GDC/gdcdictionary.git",ref = "release/py3"}
v = {editable = true,version = "*"}

[packages]
gen3datamodel = {editable = true,path = "."}
psqlgraph = {editable = true,git = "https://git@github.com/NCI-GDC/psqlgraph.git",ref = "1c397b7960c596ddfbb1aacb1f8fd005b6916ddd"}
cdislogging = "==1.0.0"
pytz = "==2019.3"
addict = "==0.2.7"
appnope = "==0.1.0"
atomicwrites = "==1.3.0"
attrs = "==19.3.0"
avro = "==1.7.7"
backcall = "==0.1.0"
bleach = "==3.1.0"
boto = "==2.49.0"
cdisutils = "==1.2.2"
certifi = "==2019.9.11"
cffi = "==1.13.1"
chardet = "==3.0.4"
cryptography = "==2.8"
decorator = "==4.4.0"
defusedxml = "==0.6.0"
dictionaryutils = {editable = true,git = "https://github.com/uc-cdis/dictionaryutils.git",ref = "3868d69cce0b70dbd45fba6b516b22c81e405098"}
entrypoints = "==0.3"
graphviz = "==0.4.2"
idna = "==2.8"
importlib-metadata = "==0.23"
indexclient = "==1.5.8"
ipykernel = "==5.1.3"
ipython = "==7.9.0"
ipywidgets = "==7.5.1"
jdcal = "==1.4.1"
jedi = "==0.15.1"
jsonschema = "==2.5.1"
jupyter = "==1.0.0"
jupyter-client = "==5.3.4"
jupyter-core = "==4.6.1"
mistune = "==0.8.4"
more-itertools = "==7.2.0"
nbconvert = "==5.6.1"
nbformat = "==4.4.0"
ndg-httpsclient = "==0.5.1"
notebook = "==6.0.1"
openpyxl = "==3.0.0"
pandocfilters = "==1.4.2"
parso = "==0.5.1"
pexpect = "==4.7.0"
pickleshare = "==0.7.5"
pluggy = "==0.13.0"
progressbar = "==2.5"
psycopg2 = "==2.8.4"
psycopg2-binary = "==2.8.4"
ptyprocess = "==0.6.0"
py = "==1.8.0"
py2neo = "==2.0.9"
pyasn1 = "==0.4.7"
pycparser = "==2.19"
pyparsing = "==2.4.2"
pyrsistent = "==0.15.4"
pytest = "==5.2.2"
python-dateutil = "==2.4.2"
pyzmq = "==18.1.0"
qtconsole = "==4.5.5"
requests = "==2.22.0"
rstr = "==2.2.6"
six = "==1.12.0"
terminado = "==0.8.2"
testpath = "==0.4.2"
tornado = "==6.0.3"
traitlets = "==4.3.3"
urllib3 = "==1.25.6"
wcwidth = "==0.1.7"
webencodings = "==0.5.1"
widgetsnbextension = "==3.5.1"
xlocal = "==0.5"
xmltodict = "==0.12.0"
zipp = "==0.6.0"
et_xmlfile = "==1.0.1"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10.3"
jupyter_console = "==6.0.0"
MarkupSafe = "==1.1.1"
prometheus_client = "==0.7.1"
prompt_toolkit = "==2.0.10"
Pygments = "==2.4.2"
pyOpenSSL = "==19.0.0"
PyYAML = "==5.1.2"
Send2Trash = "==1.5.0"
SQLAlchemy = "==1.3.10"

[requires]
python_version = "3.6"
