pytz==2016.4
avro==1.7.7
graphviz==0.4.2
addict==0.2.7
jsonschema==2.5.1
python-dateutil==2.4.2
-e git+https://github.com/NCI-GDC/cdisutils.git@4a75cc05c7ba2174e70cca9c9ea7e93947f7a868#egg=cdisutils
-e git+https://github.com/NCI-GDC/psqlgraph.git@4fb89ebee732e4ec4c4af02ad81e8dcd0f86f4cb#egg=psqlgraph
-e git+https://github.com/NCI-GDC/gdcdictionary.git@35fce418d97828287019e47da5afcfd9e2aca1ba#egg=gdcdictionary
